[user]
	name = Zac Gibson
	email = zac.gibson@lge.com
	signingkey = B0CB0665047745BF
[init]
	defaultBranch = main
[core]
	excludesfile = /Users/zac/.gitignore_global
	editor = nvim
[push]
	autoSetupRemote = true
[commit]
	gpgsign = false
